@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: whitesmoke;
    
}

.page_title {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #444;
    text-align: center;
    margin: 1em 0 0.8em;
}

.post_article {
    width: 600px;
    margin: 2em auto;
    border: 1px solid #eee;
    padding: 1.8em 2em;
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.1);
}


.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.2em;
    color: #444;
    margin: 0;
}

.post_article img {
    display: block;
    width: 100%;
}

.content {
    line-height: 1.8em;
    color: gray;
    font-size: 1.2em;
    font-family: "roboto";
    margin-bottom: 2em;
    font-weight: 100;
}

.separator {
    border-color: #ddd;
    border-style: solid;
    border-bottom: 0;
}

.author,.date, .n_comments {
    font-size: 0.9em;
    font-weight: bold;
    color: gray;
    font-family: sans-serif;
    margin-right: 1em;
    font-style: initial;
}